header {
  padding-top: 9em;
  text-align: center;
  position: relative;
  overflow: hidden;

  .title-app {
    .font-l2;
    color: @color-empty;
    margin-bottom: 1.5rem;
  }
  .description-app {
    .font-m2;
    color: @color-empty;
    margin-bottom: 2rem;
  }

  .btn-secondary {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
  }
  .bg-iphone5s {
    display: inline-block;
    width: 334px;
    height: 697px;
    margin-bottom: -9em;
  }
}

.grid-3 {
  .inline-block-whitespace;
  > * {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
  }
}

.grid-2 {
  .inline-block-whitespace;
  > * {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.value-statement {
  box-shadow: rgba(0,0,0,.15) 0 1px 3px 0;
  text-align: center;
  position: relative;

  //vertical dividers of equal height
  &:after {
    content: '';
    .position(absolute, 0, auto, 0, 33.33%, 33.33%, 100%);
    border-left: 1px solid @color-rare;
    border-right: 1px solid @color-rare;
  }

  .subsection {
    padding: 2.5em 2.5rem 3rem;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    .font-m3;
    color: @color-primary;
    display: inline-block;
    margin-bottom: .75rem;
  }
  .title-subsection {
    .font-m2;
    .type-black;
    .title-caps;
    .ellipsized;
    margin-bottom: .5rem;
  }
  .description-subsection {
    color: @color-medium-well;
    display: inline-block;
    max-width: 200px;
  }
}

.chefs {
  background-image: url('img/bg-grid-recipes-1200x900.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 9em 0;
  .section-wrapper {
    margin: 0 10%;
    padding: 4.5em;
    background: rgba(255,255,255,.95);
    text-align: center;

    .title-section {
      .font-l1;
      .type-black;
      .title-caps;

      color: @color-primary;
      margin-bottom: 1rem;
    }
    .description-section {
      .font-m2;
      color: @color-medium-well;
      line-height: 1.5em;
      margin-bottom: 3rem;
    }
    .subsection-wrapper {
      text-align: center;
      .subsection {
        .avatar {
          width: 80px;
          height: 80px;
          border-radius: 10em;
          display: inline-block;
          overflow: hidden;
          margin-bottom: 1em;
        }
        .name-chef {
          .type-bold;
        }
        .title-chef {
          .font-s2;
          color: @color-medium-well;
        }
        .organization-chef {
          .font-s1;
          .type-secondary;
          .title-caps;
          color: @color-medium;
        }
      }
    }
  }
}

.inspire {
  overflow: hidden;
  text-align: center;
  .iphone-comps {
    .inline-block-whitespace;
    white-space: nowrap;

    position: relative;
    width: 125%;
    left: -12.5%;
    padding-top: 6rem;
    padding-bottom: 3rem;
    > .wrapper {
      display: inline-block;
      vertical-align: middle;
      width: 20%;
      position: relative;
      &:nth-child(3) { z-index: 2; }
      &:nth-child(2) { z-index: 1; }
      &:nth-child(4) { z-index: 1; }

      //shadows on screenshots without chrome
      &:nth-child(-n+2),
      &:nth-child(n+4) {
        [class^="ss-"],
        [class*=" ss-"] {
          box-shadow: rgba(0,0,0,.15) 0 0 3px 0;
        }
      }

      //horizontal offsets to ensure center alignment accounting for iphone chrome
      > * {
        display: inline-block;
        position: relative;
      }
      .bg-iphone5s {
        .transform(translate3d(-50%,0,0));
        left: 50%;
      }
      &:nth-child(-n+2) > * { left: -8%; }
      &:nth-child(n+4) > * { right: -8%; }
    }
  }
  .title-section {
    .font-l1;
    .type-black;
    .title-caps;

    color: @color-primary;
    margin-bottom: 1rem;
  }
  .description-section {
    .font-m2;
    color: @color-medium-well;
    line-height: 1.5em;
    margin-bottom: 4.5rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.project-details {
  color: @color-empty;
  text-align: center;

  .subsection {
    height: 600px;
    padding: 12em 2em 0;
  }

  .title-subsection {
    .font-l1;
    .type-black;
    .title-caps;
    margin-bottom: 1rem;
  }
  .description-subsection {
    .font-m1;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }
  .aside {
    .type-secondary;
    .title-caps;
    .font-s1;

    opacity: .5;
    display: block;
    line-height: 1;
    margin-top: -3em;
    margin-bottom: 2em;
  }
}

footer {
  background: @color-full;
  color: @color-empty;
  text-align: center;
  padding: 3em 2em;
  .stats-social {
    width: 40%;
    display: inline-block;
    margin-bottom: 3rem;
    .count-social {
      .font-l1;
      margin-bottom: .5rem;
    }
    .title-social {
      .font-s2;
      .type-black;
      .title-caps;
    }
  }
  .attribution {
    .font-m1;
    margin-bottom: 3rem;

    .message-attribution {
      .font-s2;
      .type-secondary;
      .title-caps;

      color: @color-medium;
      margin-bottom: .5rem;
    }

    a {
      .type-bold;
      color: @color-empty;
    }

    .ampersand { //fancy quote
      font-family: 'Baskerville', Garamond, sans-serif;
      font-style: italic;
    }
  }
  .logo-sous {
    height: 30px;
    width: auto;
    margin-bottom: 1rem;
  }
  .disclaimer {
    .font-s1;
    .title-caps;
    color: @color-medium;
  }
}

.bg-iphone5s {
  width: 334px;
  height: 697px;
  position: relative;

  [class^="ss-"],
  [class*=" ss-"] {
    .position(absolute, 50%, 50%);
    .transform(translate3d(50%, -50%, 0));
  }
}

[class^="ss-"],
[class*=" ss-"] {
  width: 278px !important;
  height: 493px !important;
}