.bg-landing,
.bg-source,
.bg-meteor {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-landing {
  .background-image(
    linear-gradient(top, rgba(194,130,0,.75) 0%, rgba(203,189,145,.75) 100%),
    url('img/bg-landing-1600x1000.jpg')
  );
}

.bg-source { background-image: url('img/bg-source-600x600.jpg'); }
.bg-meteor { background-image: url('img/bg-meteor-600x600.jpg'); }


// Retina screenshots
.ss-home { .at2x('img/ss-home-278x493.jpg', 278px, 493px); }
.ss-categories { .at2x('img/ss-categories-278x493.jpg', 278px, 493px); }
.ss-recipe { .at2x('img/ss-recipe-278x493.jpg', 278px, 493px); }
.ss-summer { .at2x('img/ss-summer-278x493.jpg', 278px, 493px); }
.ss-winter { .at2x('img/ss-winter-278x493.jpg', 278px, 493px); }

// Retina phone chrome
.bg-iphone5s {
  .at2x('img/ss-iphone5s-chrome-334x697.png', 334px, 697px);
  background-position: center center;
  background-repeat: no-repeat;
}

// Retina avatars
.chef-colin {
  .at2x('img/chef-colin-80x80.jpg', 80px, 80px);
  background-size: contain;
}